
/* css reset */

body {
  margin: 0;
  padding: 0;
}
/* General styles: */

.header,
.options,
.order,
footer {
  padding: 1em 2em;
  margin: 0;
}

.pizzaWrapper {
  background-color: white;
  min-height: 100vh;
}

.header {
  background-color: #F2453D;
  color: white;
}

.order {
  background-color: #1D9A4C;
}

.options {

}

.footer {
  background-color: #F2453D;
}

/* If there is no grid support */
@supports not (display: grid) {
	.pizzaWrapper {
		max-width: 50em;
		margin: 0 auto;
	}
}

/* Wider screens with grid support */

@media screen and (min-width: 700px){
  @supports (display: grid) {

    .pizzaWrapper {
			display: grid;
			grid-template-columns: 1fr repeat(12, minmax(auto, 10em)) 1fr;
			grid-template-rows: 1fr repeat(12, minmax(auto, 10em)) 1fr;
		}

    .header {
      grid-column: span 13;
    }
    .options {
      grid-column-start: 2;
      grid-column-end: 10;
    }

    .order {
      grid-column: 9/13;
      grid-row-start: 3;
      z-index: 5;
    }

    .footer {
      grid-column: span 13;
      grid-row-start: 13;
      grid-row-end: 13;
    }
  }
}

